
<form [formGroup]="form" (ngSubmit)="onSubmit()" >
      <div *ngIf="first.invalid"> Name is too short. </div>

      <input formControlName="first" placeholder="First name"  ><br>
      <input formControlName="last" placeholder="Last name">


<div *ngIf="first.invalid && (first.dirty || first.touched)"
    class="alert alert-danger">

  <div *ngIf="first.errors.required">
    Name is required.
  </div>
  <div *ngIf="first.errors.minlength">
    Name must be at least 4 characters long.
  </div>
  <div *ngIf="first.errors.forbiddenName" >
    Name cannot be Bob.
  </div>
</div>
      <button type="submit">Submit</button>
   </form>
   <button (click)="setValue()">Set preset value</button>