<head>


</head>
<div style="text-align:center">

</div>
<div >
<app-banner></app-banner>
<br>
    <div style="width: 20%; float: left;">
    	<ul>

        <br><i class="fas fa-chess-king"></i>  <a routerLink="/home">    Entity Manager</a>
        <br><i class="fas fa-chess-queen"></i>    <a routerLink="/entity">    Entity </a>
    		<br><i class="fas fa-chess-knight"></i> <a routerLink="/property">    Property </a>
    		<br><i class="fas fa-chess-rook"></i> <a routerLink="/dataType">    Data Type</a>
    		<br><i class="fas fa-chess-bishop"></i> <a routerLink="/server">    Server </a>
    		<br><i class="fas fa-chess-pawn"></i> <a routerLink="/server">    Server </a>
    	</ul>
     </div>
    <router-outlet></router-outlet>
<br>
<br>
    <app-footer></app-footer>
    <br>
    <app-message></app-message>
</div>
